<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900559920776-buukmrjmls53plnhns88uakuglim68t7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900559920776-buukmrjmls53plnhns88uakuglim68t7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>900559920776-flob0a3cbl9rdl9r5gp63sa1clc3d7k8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQHsEoTg4XTMZ_5O4PTLh-D1u0CUIWj50</string>
	<key>GCM_SENDER_ID</key>
	<string>900559920776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.potatoes.ticatsApp</string>
	<key>PROJECT_ID</key>
	<string>ticats</string>
	<key>STORAGE_BUCKET</key>
	<string>ticats.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900559920776:ios:dd17fb2f2e8e453624893d</string>
</dict>
</plist>